html
  head
    title= pageTitle
    link(rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.css")
    link(rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap-theme.css")
  body
    include partials/nav.jade
    .container
      block content
    script(src="/vendor/jquery/dist/jquery.js")
    script(src="/vendor/bootstrap/dist/js/bootstrap.js")
